body {
    margin: 0;
    padding-left:150px;
    padding-right: 150px;
    background-color: #4F772D;
    font-family: Helvetica, sans-serif;
}

.outer-container {
    display: flex;
    padding-top: 140px;
    flex-direction: column;
    background-color: #90A955;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.top-bar {
    opacity: 0.9;
    display: flex;
    position: fixed;
    flex-direction: row;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    height: 80px;
    width: calc(100vw - 340px);
    background-color: #132A13;

}

.top-bar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    border-radius: 50px;
    background-color: #40672D;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.top-bar-btn.active {
    background-color: #ECF39E;
}

.top-bar-btn:hover {
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #fff 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  animation: shine .7s infinite;
}

@keyframes shine {
  from {
    mask-position: 120%;
  }
  
  to {
    mask-position: -20%;
  }
}

a,
a:visited,
a:active,
a:focus{
    text-decoration: none;
}

.inner-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    min-height: 400px;
    background-color: #31572C;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    
}

.card {
    display: flex;
    padding: 10px;
    flex-direction: row;
    background-color: #ECF39E;
    color: black;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card>h2 {
    padding-right: 10px;
}

.desc {
    border-left: 3px dotted rgb(137, 118, 94);
    padding-left: 10px;
}

img {

    border-radius: 20px;
}

.profile-photo {
    margin-right: 10px;
}

.bottom-bar {
    min-height: 200px;
    background-color: #132A13;
    margin-top: -20px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

@media (max-width: 600px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .outer-container, .inner-container {
        padding-left: 0;
        padding-right: 0;
    }
    .top-bar {
        width: calc(100vw - 60px);
    }
    .card {
        flex-direction: column;
    }
    .inner-container {
        padding-left: 5px;
        padding-right: 5px;
    }
}
